<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Projet Bénévole{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('templates/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">


        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->

        <link href="{{ asset('templates/css/business-casual.css') }}" rel="stylesheet">
        {% stylesheets filter='cssrewrite' 
'bundles/platform/css/*' %}

        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}



    </head>

    <body>

        <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Projet Bénévole</div>
        <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">Cours de français donné par des personnes motivées à des élèves motivés !</div>

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                <strong>ERREUR "403 : Accès refusé".</strong>
            </h2>
            <hr class="divider">
            <p>Vous n'avez pas accès à cette page.</p>
        </div>

        <footer class="bg-faded text-center py-5">
            <div class="container">
                <p class="m-0">Copyright &copy; Projet Bénévole 2017 <a href="{{ path('mention_legale') }}">Mention légale</a></p>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        {% block javascripts %}
            <script src="{{ asset('templates/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('templates/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            {% javascripts 'bundles/platform/js/*' output='js/compiled/app.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}
    </body>

</html>
