<h1>Projet bénévole</h1>

<p>
    <strong>De :</strong> {{app.user.nom }} {{app.user.prenom}} {{app.user.email }}<br>
    <strong>Sujet :</strong> {{sujet}}<br>
    <strong>Message :</strong><br><br>
    {{ message }}
</p>
<hr>