{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Cours - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Envoyer
                <strong> un mail</strong>
            </h2>
            <hr class="divider">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="bg-faded p-4 my-4">

                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_errors(form) }}

                <div class="form-group">
                    <strong>{{ form_label(form.sujet, "Sujet*", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                    <div class="alert-warning">
                        {{ form_errors(form.sujet) }}
                    </div>
                    <div class="col-sm-10">
                        {{ form_widget(form.sujet, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <strong>{{ form_label(form.message, "Message*", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                    <div class="alert-warning">
                        {{ form_errors(form.message) }}
                    </div>
                    <div class="col-sm-10">
                        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" formnovalidate>Envoyer</button>

                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}

