{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Modifier email - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                <strong>Changer d'adresse mail</strong>
            </h2>
            <hr class="divider">
            <div>
                <a class="btn btn-primary btn-lg" href="{{ path('bp_info') }}" role="button">Retour</a>
            </div>
            <div class="bg-faded p-4 my-4">
                <p><i>* Champ obligatoire</i></p>
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="form-group">
                    <strong>{{ form_label(form.email, "Nouvelle email*", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                    <div class="alert-warning">
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="col-sm-10">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Modifier</button>
                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}

                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}



