{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="bg-faded p-4 my-4 row">
            <div class="wrapper col-lg-12">
                <hr class="divider">
                <h2 class="form-signin-heading text-center">Inscrivez-vous :</h2>
                <hr class="divider">
                <div>
                    <p>Vous avez déjà un compte ? <a href="{{ path('security_login') }}">Connexion</a></p>
                </div>
                <div class="bg-faded p-4 my-4">
                    <p><i>* Champ obligatoire</i></p>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        <strong>{{ form_label(form.prof, "S'inscrire en tant que :", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.prof) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_label(form.prof.0) }} {{ form_widget(form.prof.0) }}
                            <br>
                            {{ form_label(form.prof.1) }} {{ form_widget(form.prof.1) }}
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <strong>{{ form_label(form.email, "Email*", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>{{ form_label(form.plainPassword.first, "Mot de passe* (5 caractères min.)", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>{{ form_label(form.plainPassword.second, "Répéter le mot de passe*", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>{{ form_label(form.nom, "Nom*", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.nom) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form.prenom, "Prénom*", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.prenom) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.adresse) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.ville) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form.codepostal, "Code Postal", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.codepostal) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.codepostal, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>{{ form_label(form.presentation, "Présentation", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.presentation) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>{{ form_label(form.image, "Photo de profil", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.image) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" formnovalidate>S'inscrire</button>
                    {# Génération automatique des champs pas encore écrits.
                       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                       et tous les champs cachés (type « hidden »). #}
                    {{ form_rest(form) }}

                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

{% endblock %}


