{% extends "PlatformBundle::layoutadmin.html.twig" %}

{% block title %}Eleve edit - {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="content-box-header">
                    <div class="panel-title">Gestion des élèves</div>
                </div>
                <div class="content-box-large box-with-header">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        <strong>{{ form_label(form.nom, "Nom*", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.nom) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form.prenom, "Prénom*", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.prenom) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.adresse) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.ville) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form.codepostal, "Code Postal", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.codepostal) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.codepostal, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form.presentation, "Présentation", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.presentation) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>{{ form_label(form.image, "Photo de profil", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.image) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                        <br><br>
                    <button type="submit" class="btn btn-primary" formnovalidate>Modifier</button>
                    {# Génération automatique des champs pas encore écrits.
                       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                       et tous les champs cachés (type « hidden »). #}
                    {{ form_rest(form) }}

                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

