{% extends "PlatformBundle::layoutadmin.html.twig" %}

{% block title %}Eleve - {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="content-box-header">
                    <div class="panel-title">Gestion des élèves</div>
                </div>
                <div class="content-box-large box-with-header">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if pagination is not empty %}
                        <p>
                            {% for coursinscrit in pagination %}
                            <li>
                                <div class="bg-light p-2 my-2 border border-dark row">
                                    <div class="col-md-2">
                                        {% if coursinscrit.cours.user.image is not null %}
                                            <img
                                                src="{{ asset(coursinscrit.cours.user.image.webPath) }}"
                                                alt="{{ coursinscrit.cours.user.image.alt }}"
                                                height="120"
                                                width="100"
                                                />
                                        {% else %}
                                            <img
                                                src="{{ asset("uploads/img/default.png") }}"
                                                alt="image par default"
                                                height="120"
                                                width="100"
                                                />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Titre du cours : </strong>{{ coursinscrit.cours.titre }}<br>
                                        <strong>Auteur : </strong>{{ coursinscrit.cours.user.nom }} {{ coursinscrit.cours.user.prenom }}<br>
                                        <strong>Date de réunion : </strong>{% if coursinscrit.cours.datereunion is not null %} {{ coursinscrit.cours.datereunion|date('d/m/Y H:i') }} {% else %} Non renseigné {% endif %}<br>
                                        <strong>Lieu de réunion : </strong>
                                        {% if coursinscrit.cours.adressereunion is not null %} {{ coursinscrit.cours.adressereunion }}{% else %} Non renseigné {% endif %},
                                        {% if coursinscrit.cours.villereunion is not null %} {{ coursinscrit.cours.villereunion }} {% else %} Non renseigné {% endif %},
                                        {% if coursinscrit.cours.codepostalreunion is not null %} {{ coursinscrit.cours.codepostalreunion }} {% else %} Non renseigné {% endif %}<br>
                                        <strong>Nombre d'élèves max. : </strong>
                                        {% if coursinscrit.cours.elevemax is not null %} {{ coursinscrit.cours.elevemax }} {% else %} Non renseigné {% endif %}
                                    </div>
                                    <div class="col-md-2 d-flex align-items-center">
                                        <a  class="btn btn-success" href="{{ path('bp_platform_cours', {'id': coursinscrit.cours.id}) }}" role="button">Visualiser</a>
                                    </div>
                                    <div class="col-md-2 d-flex align-items-center">
                                        <a  class="btn btn-danger" href="{{ path('admin_eleve_deletecours', {'id': coursinscrit.cours.id, 'eleve': eleve.id}) }}" onclick="return confirm('Etes-vous sur de vouloir le désincrire ?')" role="button">Désinscrire</a>
                                    </div>
                                </div>
                            </li>
                            <hr>
                        {% endfor %}
                        </p>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% else %}
                        <p><strong>Inscrit à aucun cours.</strong></p>
                    {% endif %}

                    <br /><br />
                </div>
            </div>
        </div>
    </div>
{% endblock %}


