{% extends "PlatformBundle::layoutadmin.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="content-box-header">
                    <div class="panel-title">Accueil</div>
                </div>
                <div class="content-box-large box-with-header">

                    Bonjour et bienvenue sur la partie administration du site Projet Benévole.
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
