{% extends "PlatformBundle::layoutadmin.html.twig" %}

{% block title %}Prof - {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="content-box-header">
                    <div class="panel-title">Gestion des professeurs</div>
                </div>
                <div class="content-box-large box-with-header">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if pagination is not empty %}
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Email</th>
                                        <th>Gestion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prof in pagination %}
                                        <tr>
                                            <td>{{ prof.nom }}</td>
                                            <td>{{ prof.prenom }}</td>
                                            <td>{{ prof.email }}</td>
                                            <td>
                                                <a href="{{ path('admin_prof_courscree', {'id': prof.id}) }}"><i class="glyphicon glyphicon-eye-open"></i></a> &nbsp; &nbsp;
                                                <a href="{{ path('admin_prof_edit', {'id': prof.id}) }}"><i class="glyphicon glyphicon-edit" style="color:green"></i></a> &nbsp; &nbsp;
                                                <a href="{{ path('admin_prof_delete', {'id': prof.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer ?')"><i class="glyphicon glyphicon-trash" style="color:red"></i></a>
                                                <a href="{{ path('contact', {'id': prof.id} ) }}"><i class="glyphicon glyphicon-envelope"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                <div class="navigation">
                                    {{ knp_pagination_render(pagination) }}
                                </div>
                            {% else %}
                                <p>Pas de prof inscrit.</p>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>

                    <br /><br />
                </div>
            </div>
        </div>
    </div>
{% endblock %}


