<!DOCTYPE html>
<html>
    <head>
        <title>Admin Projet Benevole</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('admin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- styles -->
        <link href="{{ asset('admin/css/styles.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <!-- Logo -->
                        <div class="logo">
                            <h1><a href="index.html">Administration Projet Bénévole</a></h1>
                        </div>
                    </div>
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2">
                        <div class="navbar navbar-inverse" role="banner">
                            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="{{ path('security_logout') }}">Déconnexion</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="sidebar content-box" style="display: block;">
                        <ul class="nav">
                            <!-- Main menu -->
                            <li class="current"><a href="{{ path('admin') }}"><i class="glyphicon glyphicon-home"></i> Accueil</a></li>
                            <li class="submenu">
                                <a href="#">
                                    <i class="glyphicon glyphicon-user"></i> Utilisateur
                                    <span class="caret pull-right"></span>
                                </a>
                                <!-- Sub menu -->
                                <ul>
                                    <li><a href="{{ path('admin_eleve') }}"> Elèves</a></li>
                                    <li><a href="{{ path('admin_prof') }}"> Professeur</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('admin_signalement') }}"><i class="glyphicon glyphicon-warning-sign"></i> Signalement</a></li>
                            <li><a href="{{ path('bp_platform_homepage') }}"><i class="glyphicon glyphicon-play-circle"></i> Site</a></li>
                        </ul>
                    </div>
                </div>
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <footer>
            <div class="container">

                <div class="copy text-center">
                    Copyright &copy; Projet Bénévole 2017
                </div>

            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('admin/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('admin/js/custom.js') }}"></script>
    </body>
</html>