<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Projet Bénévole{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('templates/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">


        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->

        <link href="{{ asset('templates/css/business-casual.css') }}" rel="stylesheet">
        {% stylesheets filter='cssrewrite' 
'bundles/platform/css/*' %}

        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}



    </head>

    <body>

        <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Projet Bénévole</div>
        <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">Cours de français donné par des personnes motivées à des élèves motivés !</div>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
            <div class="container">
                <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{{ path('bp_platform_homepage') }}">Projet Bénévole</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item {% if app.request.attributes.get('_route')=='bp_platform_homepage' %} active {% endif %} px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="{{ path('bp_platform_homepage') }}">Accueil
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item {% if app.request.attributes.get('_route')== 'bp_platform_listecours' or app.request.attributes.get('_route')== 'bp_platform_cours' %} active {% endif %} px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="{{ path('bp_platform_listecours') }}">Cours</a>
                        </li>
                        {% if is_granted('ROLE_PROF') or is_granted('ROLE_ELEVE') or is_granted('ROLE_ADMIN') %}
                            <li class="btn-group">
                                <a class="dropdown-toggle nav-link text-uppercase text-expanded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"> Mon compte <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-uppercase text-expanded" href="{{ path('bp_info') }}">Mes infos</a></li>
                                    <hr>
                                    {% if is_granted('ROLE_ELEVE') %}
                                        <li><a class="nav-link text-uppercase text-expanded" href="{{ path('bp_coursinscrit') }}">Mes RDV</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_PROF') %}
                                        <li><a class="nav-link text-uppercase text-expanded" href="{{ path('bp_coursprof') }}">Mes cours</a></li>
                                        {% endif %}
                                </ul>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item px-lg-4">
                                    <a class="nav-link text-uppercase text-expanded" href="{{ path('admin') }}">ADMINISTRATION</a>
                                </li>
                            {% endif %}
                            <li class="nav-item px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="{{ path('security_logout') }}">Deconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item {% if app.request.attributes.get('_route')=='user_register' %} active {% endif %} px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="{{ path('user_register') }}">Inscription</a>
                            </li>
                            <li class="nav-item {% if app.request.attributes.get('_route')=='security_login' %} active {% endif %} px-lg-4">
                                <a class="nav-link text-uppercase text-expanded" href="{{ path('security_login') }}">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        <footer class="bg-faded text-center py-5">
            <div class="container">
                <p class="m-0">Copyright &copy; Projet Bénévole 2017 <a href="{{ path('mention_legale') }}">Mention légale</a></p>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        {% block javascripts %}
            <script src="{{ asset('templates/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('templates/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            {% javascripts 'bundles/platform/js/*' output='js/compiled/app.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}
    </body>

</html>
