{% extends 'PlatformBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="bg-faded p-4 my-4 row">
            <div class="col-lg-4">
            </div>
            <div class="wrapper">
                <hr class="divider">
                <h2 class="form-signin-heading text-center">Connectez-vous à votre compte !</h2>
                <hr class="divider">
                <div class="bg-faded p-4 my-4">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    {{ form_start(form) }}
                    <div class="form-group">
                        <strong>{{ form_label(form._username, "Email", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form._username) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form._username, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <strong>{{ form_label(form._password, "Mot de passe", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form._password) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form._password, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Se connecter <span class="fa fa-lock"></span></button>
                        {{ form_end(form) }}
                    <br>
                    <p>Vous n'avez pas de compte ? <a href="{{ path('user_register') }}">Inscription</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
