{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Ajout cours - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="bg-faded p-4 my-4 row">
            <div class="wrapper col-lg-12">
                <hr class="divider">
                <h2 class="form-signin-heading text-center">Ajouter un cours pratique</h2>
                <hr class="divider">
                <div class="bg-faded p-4 my-4">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <p><i>* Champ obligatoire</i></p>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {# Les erreurs générales du formulaire. #}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        <strong>{{ form_label(form.titre, "Titre*", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.titre) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <strong>{{ form_label(form.contenue, "Contenue*", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                        <div class="alert-warning">
                            {{ form_errors(form.contenue) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.contenue, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary" formnovalidate>Ajouter</button>
                    {# Génération automatique des champs pas encore écrits.
                       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                       et tous les champs cachés (type « hidden »). #}
                    {{ form_rest(form) }}

                    {# Fermeture de la balise <form> du formulaire HTML #}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script>
        $('#datetimepicker').datetimepicker({
            step:  10,
            format: 'd-m-Y H:i',
            minDateTime: true,
        });
    </script>
{% endblock %}

