{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Cours créé - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="bg-faded p-4 my-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Voici
                <strong> les cours créé</strong>
            </h2>
            <hr class="divider">
            {% if pagination is not empty %}
                <p>
                    {% for cours in pagination %}
                    <li>
                        <div class="p-2 my-2 bg-light border border-dark row">
                            <div class="col-md-6">
                                <strong>Titre du cours : </strong>{{ cours.titre }}<br>
                                <strong>Auteur : </strong>{{ cours.user.nom }} {{ cours.user.prenom }}<br>
                                {% if cours.pratique == 0 %}
                                    <strong>Date de réunion : </strong>{% if cours.datereunion is not null %} {{ cours.datereunion|date('d/m/Y H:i') }} {% else %} Non renseigné {% endif %}<br>
                                    <strong>Lieu de réunion : </strong>
                                    {% if cours.adressereunion is not null %} {{ cours.adressereunion }}{% else %} Non renseigné {% endif %},
                                    {% if cours.villereunion is not null %} {{ cours.villereunion }} {% else %} Non renseigné {% endif %},
                                    {% if cours.codepostalreunion is not null %} {{ cours.codepostalreunion }} {% else %} Non renseigné {% endif %}<br>
                                    <strong>Nombre d'élèves max. : </strong>
                                    {% if cours.elevemax is not null %} {{ cours.elevemax }} {% else %} Non renseigné {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-md-2 d-flex align-items-center">
                                <a  class="btn btn-success" href="{{ path('bp_platform_cours', {'id': cours.id}) }}" role="button">Visualiser</a>
                            </div>
                            <div class="col-md-2 d-flex align-items-center">
                                {% if cours.pratique == 0 %}
                                    <a   class="btn btn-info" href="{{ path('bp_editcoursrdv', {'id': cours.id}) }}" role="button">Modifier</a>
                                {% else %}
                                    <a   class="btn btn-info" href="{{ path('bp_editcourspratique', {'id': cours.id}) }}" role="button">Modifier</a>
                                {% endif %}
                            </div>
                            <div class="col-md-2 d-flex align-items-center">
                                <a  class="btn btn-danger" href="{{ path('bp_removecours', {'id': cours.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer ?')" role="button">Supprimer</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </p>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% else %}
                <p><strong>Vous n'avez aucun cours.</strong></p>
            {% endif %}
        </div>
    </div>
    <!-- /.container -->
{% endblock %}


