{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Cours prof - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Mes
                <strong> Cours</strong>
            </h2>
            <hr class="divider">
            <br>
            <div class="row">
            <div class="col-md-6 text-center">
                <a class="btn btn-info btn-lg" href="{{ path('bp_addcoursrdv') }}" role="button">Proposer un cours RDV</a>
                <a class="btn btn-warning btn-lg" href="{{ path('bp_addcourspratique') }}" role="button">Proposer un cours pratique</a>
            </div>
            <div class="col-md-6 text-center">
                <a class="btn btn-success btn-lg" href="{{ path('bp_courscree') }}" role="button">Visualiser mes cours</a>
            </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

{% endblock %}


