{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Cours inscrit - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="bg-faded p-4 my-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Voici
                <strong> les cours inscrit</strong>
            </h2>
            <hr class="divider">
            {% if pagination is not empty %}
                <p>
                    {% for coursinscrit in pagination %}
                        <a href="{{ path('bp_platform_cours', {'id': coursinscrit.cours.id}) }}" class="nounderline" >
                            <li>
                                <div class="bg-light p-2 my-2 border border-dark row">
                                    <div class="col-md-2">
                                        {% if coursinscrit.cours.user.image is not null %}
                                            <img
                                                src="{{ asset(coursinscrit.cours.user.image.webPath) }}"
                                                alt="{{ coursinscrit.cours.user.image.alt }}"
                                                height="120"
                                                width="100"
                                                />
                                        {% else %}
                                            <img
                                                src="{{ asset("uploads/img/default.png") }}"
                                                alt="image par default"
                                                height="120"
                                                width="100"
                                                />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-10">
                                        <strong>Titre du cours : </strong>{{ coursinscrit.cours.titre }}<br>
                                        <strong>Auteur : </strong>{{ coursinscrit.cours.user.nom }} {{ coursinscrit.cours.user.prenom }}<br>
                                        <strong>Date de réunion : </strong>{% if coursinscrit.cours.datereunion is not null %} {{ coursinscrit.cours.datereunion|date('d/m/Y H:i') }} {% else %} Non renseigné {% endif %}<br>
                                        <strong>Lieu de réunion : </strong>
                                        {% if coursinscrit.cours.adressereunion is not null %} {{ coursinscrit.cours.adressereunion }}{% else %} Non renseigné {% endif %},
                                        {% if coursinscrit.cours.villereunion is not null %} {{ coursinscrit.cours.villereunion }} {% else %} Non renseigné {% endif %},
                                        {% if coursinscrit.cours.codepostalreunion is not null %} {{ coursinscrit.cours.codepostalreunion }} {% else %} Non renseigné {% endif %}<br>
                                        <strong>Nombre d'élèves max. : </strong>
                                        {% if coursinscrit.cours.elevemax is not null %} {{ coursinscrit.cours.elevemax }} {% else %} Non renseigné {% endif %}
                                    </div>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </p>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% else %}
                <p><strong>Vous n'êtes inscrit à aucun cours.</strong></p>
            {% endif %}
        </div>
    </div>
    <!-- /.container -->
{% endblock %}

