{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Cours - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <br>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('info') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        <div class="bg-faded p-4 my-4 row">
            <div class="col-md-2">
                {% if cours.user.image is not null %}
                    <img
                        src="{{ asset(cours.user.image.webPath) }}"
                        alt="{{ cours.user.image.alt }}"
                        height="120"
                        width="100"
                        />
                {% else %}
                    <img
                        src="{{ asset("uploads/img/default.png") }}"
                        alt="image par default"
                        height="120"
                        width="100"
                        />
                {% endif %}
            </div>
            <div class="col-md-10">
                <strong>Titre du cours : </strong>{{ cours.titre }}<br>
                <strong>Auteur : </strong>{{ cours.user.nom }} {{ cours.user.prenom }} 
                {% if is_granted(['ROLE_PROF','ROLE_ELEVE','ROLE_ADMIN']) %}
                    <a href="{{ path('contact', {'id': cours.user.id} ) }}">Contactez-moi</a>
                {% endif %}<br>
                <strong>Date de réunion : </strong>{% if cours.datereunion is not null %} {{ cours.datereunion|date('d/m/Y H:i') }} {% else %} Non renseigné {% endif %}<br>
                <strong>Lieu de réunion : </strong>
                {% if cours.adressereunion is not null %} {{ cours.adressereunion }}{% else %} Non renseigné {% endif %},
                {% if cours.villereunion is not null %} {{ cours.villereunion }} {% else %} Non renseigné {% endif %},
                {% if cours.codepostalreunion is not null %} {{ cours.codepostalreunion }} {% else %} Non renseigné {% endif %}<br>
                <strong>Nombre d'élèves inscrit : </strong>
                {% if cours.elevemax is not null %} {{ nbEleve }}/{{ cours.elevemax }} {% else %} Non renseigné {% endif %}
            </div>
            {% if is_granted(['ROLE_PROF','ROLE_ELEVE','ROLE_ADMIN']) %}
                <a href="{{ path('signalement', {'id': cours.id} ) }}" class="pull-right">Signaler le cours</a>
            {% endif %}
            <div class="bg-light p-2 my-2 border border-dark col-md-12">              
                {{ cours.contenue|raw }}
            </div>
            {% if not is_granted(['ROLE_PROF','ROLE_ELEVE']) %}
                <p><a href="{{ path('security_login') }}"><strong>Connectez-vous pour vous inscrire à ce cours !</strong></a></p>
            {% elseif is_granted('ROLE_ELEVE') %}
                {% if cours.elevemax > 0 %}
                    {% if eleveInscrit >= 1 %}
                        <p><a href="{{ path('bp_deletecours', {'id': cours.id} ) }}" onclick="return confirm('Etes-vous sur ?')"><strong>Se désinscrire de ce cours !</strong></a></p>
                    {% else %}
                        {% if nbEleve >= cours.elevemax %}
                            <p><strong>Ce cours est complet.</strong></p>
                        {% else %}
                            <p><a href="{{ path('bp_registercours', {'id': cours.id} ) }}"><strong>S'inscrire à ce cours !</strong></a></p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}  
        </div>
        {% if is_granted('ROLE_PROF') and cours.pratique == 0 and app.user == cours.user %}
            <div class="bg-faded p-4 my-4">
                <hr class="divider">
                <h2 class="text-center text-lg text-uppercase my-0">
                    <strong>Elève(s) inscrit</strong>
                </h2>
                <hr class="divider">
                {% if listEleve is not empty %}
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for eleve in listEleve %}
                                    <tr>
                                        <td>{{ eleve.user.nom }}</td>
                                        <td>{{ eleve.user.prenom }}</td>
                                        <td><a href="{{ path('contact', {'id': eleve.user.id} ) }}">Contacter</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Pas d'élève inscrit.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <!-- /.container -->

{% endblock %}

