{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="bg-faded p-4 my-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <!-- Image Carousel -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid w-100" src="{{ asset('templates/img/slide-1.jpg') }}" alt="benevolat">
                        <div class="carousel-caption d-none d-md-block text-muted">
                            <h3 class="text-shadow">Devenir bénévole</h3>
                            <p class="text-shadow">Deviens professeur bénévole et partage ta passion</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid w-100" src="{{ asset('templates/img/slide-2.jpg') }}" alt="apprendre le francais">
                        <div class="carousel-caption d-none d-md-block text-muted">
                            <h3 class="text-shadow">Apprendre le français</h3>
                            <p class="text-shadow">Si tu as soif d'apprendre le français, inscris-toi !</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid w-100" src="{{ asset('templates/img/slide-3.png') }}" alt="travail en groupe">
                        <div class="carousel-caption d-none d-md-block text-muted">
                            <h3 class="text-shadow">Travaille en groupe</h3>
                            <p class="text-shadow">Des cours collectifs avec 1 prof et d'autres élèves !</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- Welcome Message -->
            <div class="text-center mt-4">
                <div class="text-heading text-muted text-lg">Bienvenue sur</div>
                <h1 class="my-2">Projet bénévole</h1>
            </div>
        </div>

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                <strong>Notre Histoire</strong>
            </h2>
            <hr class="divider">
            <img class="img-fluid float-left mr-4 d-none d-lg-block" src="{{ asset('templates/img/Etudiants 2.jpg') }}" alt="cours ennuyeux">
            <p>Nous avons souvent rencontré des personnes cherchant du travail, mais ne sachant pas parler correctement le français, elles se sont vues refuser le poste.</p>
            <p>Des organismes proposent des cours, comme "Pôle emploi", mais ils ne durent pas longtemps, 2-3 mois, ce qui n'est pas suffisant et les élèves qui y participent sont forcés d'y aller et ne sont donc pas motivés ce qui décourage les professeurs.</p>
            <p>Nous pensons donc qu'il est préférable de laisser les personnes apprendre s'ils en ont envie ce qui les motivera plus.</p>
        </div>

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                <strong>Nos objectifs</strong>
            </h2>
            <hr class="divider">
            <img class="img-fluid float-right mr-4 d-none d-lg-block" src="{{ asset('templates/img/Etudiants 1.jpg') }}" alt="cours passionant">
            <p>L'objectif ici est donc de proposer aux personnes souhaitant partager leurs connaissances à le partager avec des personnes motivées.</p>
            <p>C'est pourquoi, que vous soyez immigrants, étudiants étrangers, que vous ayez arrêté les études trop tôt ou autre, ce site a été créé dans le but de vous aider à apprendre la langue française, mais également des cours plus pratiques (ex: Remplir ses fiches d'impôts, apprendre à rédiger une lettre de motivation,...).</p>
            <p><strong>La rencontre est faite entre un professeur bénévole passionné et un groupe d'élèves avec une soif d'apprendre !</strong></p>
        </div>
    </div>
    <!-- /.container -->

{% endblock %}
