{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Information perso - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">
                <strong>Mes informations</strong>
            </h2>
            <hr class="divider">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="bg-faded p-4 my-4 row">
                <div class="col-md-3">
                    {% if app.user.image is not null %}
                        <img
                            src="{{ asset(app.user.image.webPath) }}"
                            alt="{{ app.user.image.alt }}"
                            height="210"
                            width="140"
                            />
                    {% else %}
                        <img
                            src="{{ asset("uploads/img/default.png") }}"
                            alt="image par default"
                            height="210"
                            width="140"
                            />
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <p>
                        <strong>Email</strong> : {{ app.user.email }}
                        <br>
                        <strong>Mot de passe</strong> : ********
                        <br>
                        <strong>Nom</strong> : {% if app.user.nom is not null %} {{ app.user.nom }} {% else %} Non renseigné {% endif %}
                        <br>
                        <strong>Prénom</strong> : {% if app.user.prenom is not null %} {{ app.user.prenom }} {% else %} Non renseigné {% endif %}
                        <br>
                        <strong>Adresse</strong> : {% if app.user.adresse is not null %} {{ app.user.adresse }} {% else %} Non renseigné {% endif %}
                        <br>
                        <strong>Ville</strong> : {% if app.user.ville is not null %} {{ app.user.ville }} {% else %} Non renseigné {% endif %}
                        <br>
                        <strong>Code Postal</strong> : {% if app.user.codepostal is not null %} {{ app.user.codepostal }} {% else %} Non renseigné {% endif %}
                        <br>
                        <strong>Présentation</strong> :<br>
                        {% if app.user.presentation is null %} Pas de présentation {% else %} {{ app.user.presentation }} {% endif %}
                    </p>
                </div>
            </div>
            <a class="btn btn-outline-primary btn-lg" href="{{ path('bp_edituser') }}" role="button">Modifier votre profil</a>
            <br><br>
            <a class="btn btn-outline-primary btn-lg" href="{{ path('bp_editmdp') }}" role="button">Modifier votre mot de passe</a>
            <a class="btn btn-outline-primary btn-lg" href="{{ path('bp_editmail') }}" role="button">Modifier adresse mail</a>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}
