{% extends "PlatformBundle::layout.html.twig" %}

{% block title %}Cours - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="bg-faded p-4 my-4">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Voici
                <strong> les cours proposés</strong>
            </h2>
            <hr class="divider">

            {% if pagination is not empty %}
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_errors(form) }}

                <div class="form-group row">
                    <strong>{{ form_label(form.pratique, "Afficher les cours : ", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}</strong>
                    <div class="alert-warning">
                        {{ form_errors(form.pratique) }}
                    </div>
                    <div class="col-sm-10">
                        {{ form_widget(form.pratique) }}
                    </div>
                    <button type="submit" class="btn btn-primary" formnovalidate>Recherche</button>
                </div>

                {{ form_rest(form) }}

                {{ form_end(form) }}
                <p>
                    {% for cours in pagination %}
                        <a href="{{ path('bp_platform_cours', {'id': cours.id}) }}" class="nounderline" >
                            <li>
                                <div class="bg-light p-2 my-2 border border-dark row">
                                    <div class="col-md-2">
                                        {% if cours.user.image is not null %}
                                            <img
                                                src="{{ asset(cours.user.image.webPath) }}"
                                                alt="{{ cours.user.image.alt }}"
                                                height="120"
                                                width="100"
                                                />
                                        {% else %}
                                            <img
                                                src="{{ asset("uploads/img/default.png") }}"
                                                alt="image par default"
                                                height="120"
                                                width="100"
                                                />
                                        {% endif %}
                                    </div>
                                    <div class="col-md-10">
                                        <strong>Titre du cours : </strong>{{ cours.titre }}<br>
                                        <strong>Auteur : </strong>{{ cours.user.nom }} {{ cours.user.prenom }}<br>
                                        {% if cours.pratique == 0 %}
                                            <strong>Date de réunion : </strong>{% if cours.datereunion is not null %} {{ cours.datereunion|date('d/m/Y H:i') }} {% else %} Non renseigné {% endif %}<br>
                                            <strong>Lieu de réunion : </strong>
                                            {% if cours.adressereunion is not null %} {{ cours.adressereunion }}{% else %} Non renseigné {% endif %},
                                            {% if cours.villereunion is not null %} {{ cours.villereunion }} {% else %} Non renseigné {% endif %},
                                            {% if cours.codepostalreunion is not null %} {{ cours.codepostalreunion }} {% else %} Non renseigné {% endif %}<br>
                                            <strong>Nombre d'élèves max. : </strong>
                                            {% if cours.elevemax is not null %} {{ cours.elevemax }} {% else %} Non renseigné {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </a>
                    {% endfor %}
                </p>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% else %}
                <p><strong>Il n'y a aucun cours pour le moment.</strong></p>
            {% endif %}
        </div>
    </div>
    <!-- /.container -->
{% endblock %}
